Repository linhaotxl/vue-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:style, npm run lint:js

feat: 增加图标库使用
  .eslintrc-auto-import.json
  README.md
  package.json
  pnpm-lock.yaml
  src/assets/icons/vue.svg
  src/pages/Login.vue
  src/typings/auto-imports.d.ts
  src/typings/components.d.ts
  vite.config.ts
Due: npm run lint:style, npm run lint:js

docs: 修改icon使用文档
  README.md
  src/pages/Login.vue
Due: npm run lint:style, npm run lint:js

feat: 提出QueryFilter组件,增加submitter配置
  packages/core/src/components/ProForm/ProForm.tsx
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/core/src/components/ProForm/interface.ts
  packages/core/src/components/ProForm/props.ts
  packages/playground/src/pages/index.vue
  packages/playground/src/pages/pro-form-basic.vue
  packages/playground/src/pages/pro-form-cols.vue
  packages/playground/src/pages/pro-form-initial-values.vue
  packages/playground/src/pages/pro-form-preserve.vue
  packages/playground/src/pages/pro-form-submitter-hidden.vue
  packages/playground/src/pages/pro-form-submitter-slots.vue
  packages/playground/src/pages/pro-form-submitter.vue
  packages/playground/src/pages/pro-form-tools-cols.vue
Due: npm run lint:style, npm run lint:js

feat: 存在submitter slot时不需要追踪props.submitter
  packages/core/src/components/ProForm/ProForm.tsx
Due: npm run lint:js

feat: 修改ProFormItem默认插槽参数
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/interface.ts
  packages/playground/src/pages/pro-form-basic.vue
  packages/playground/src/pages/pro-form-cols.vue
  packages/playground/src/pages/pro-form-initial-values.vue
  packages/playground/src/pages/pro-form-preserve.vue
  packages/playground/src/pages/pro-form-submitter-hidden.vue
  packages/playground/src/pages/pro-form-submitter-slots.vue
  packages/playground/src/pages/pro-form-submitter.vue
  packages/playground/src/pages/pro-form-tools-cols.vue
Due: npm run lint:style, npm run lint:js

feat: basiclayout菜单栏配置
  src/hooks/index.ts
  src/hooks/useMenu.ts
  src/layouts/BasicLayout.vue
  src/layouts/BasicLayout/RecursionMenu.vue
  src/layouts/BasicLayout/index.vue
  src/router/routes.ts
  src/router/routes/BasicLayout/dashboard.ts
  src/typings/components.d.ts
  src/typings/vue-router.d.ts
  vite.config.ts
Due: npm run lint:style, npm run lint:js

chore: 修改eslint,stylelint适用范围
  package.json
Due: none

feat: 对浏览器无法解析的路径增加前缀
  packages/vite/src/node/constants.ts
  packages/vite/src/node/plugins/importAnalysis.ts
  packages/vite/src/node/server/middlewares/transform.ts
  packages/vite/src/node/utils.ts
  playground/resolve/index.html
  playground/resolve/vite.config.ts
Due: npm run lint:js

feat: 抽离表单逻辑useForm
  packages/core/index.ts
  packages/core/src/components/ProForm/ProForm.tsx
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/index.ts
  packages/core/src/components/ProForm/interface.ts
  packages/core/src/components/ProForm/props.ts
  packages/core/src/components/ProForm/useForm.tsx
  packages/core/src/components/ProForm/valueTypes.tsx
  packages/playground/.eslintrc-auto-import.json
  packages/playground/src/App.vue
  packages/playground/src/components/CountName.vue
  packages/playground/src/main.ts
  packages/playground/src/pages/pro-form-custom-field.vue
  packages/playground/src/pages/query-filter-basic.vue
  packages/playground/src/typings/auto-imports.d.ts
  packages/playground/src/typings/components.d.ts
  pnpm-lock.yaml
Due: npm run lint:style, npm run lint:js

feat: 删除注释
  packages/core/src/components/ProForm/ProForm.tsx
  packages/core/src/components/ProForm/useForm.tsx
  packages/playground/.eslintrc-auto-import.json
  packages/playground/src/pages/pro-form-preserve.vue
  packages/playground/src/pages/pro-form-submitter-slots.vue
  packages/playground/src/typings/auto-imports.d.ts
Due: npm run lint:style, npm run lint:js

feat: queryfilter使用useform
  packages/core/src/components/ProForm/ProForm.tsx
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/core/src/components/ProForm/useForm.tsx
  packages/playground/src/pages/query-filter-cols.vue
Due: npm run lint:style, npm run lint:js

feat: queryfilter适配提交栏宽度
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/playground/.eslintrc-auto-import.json
  packages/playground/src/pages/query-filter-cols.vue
  packages/playground/src/typings/auto-imports.d.ts
Due: npm run lint:style, npm run lint:js

feat: 增加valueType类型
  packages/core/src/components/ProForm/valueTypes.tsx
  packages/playground/src/pages/pro-form-value-type.vue
Due: npm run lint:style, npm run lint:js

feat: proForm支持修改表单项自动提交
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/interface.ts
  packages/core/src/components/ProForm/props.ts
  packages/core/src/components/ProForm/useForm.tsx
  packages/core/src/components/ProForm/valueTypes.tsx
  packages/playground/src/pages/query-filter-auto-submit.vue
Due: npm run lint:style, npm run lint:js

feat: proTable组件基本框架
  packages/core/src/components/ProTable/ProTable.tsx
  packages/core/src/components/ProTable/interface.ts
  packages/core/src/components/ProTable/useTable.ts
Due: npm run lint:js

feat: 补全proForm context默认值
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/constant.ts
  packages/core/src/components/ProForm/interface.ts
Due: npm run lint:js

chore: ts配置修改
  packages/core/tsconfig.esm.json
  packages/core/tsconfig.json
  tsconfig.json
Due: none

chore: 修改@vue/runtime-core顶级依赖
  .npmrc
  pnpm-lock.yaml
Due: none

feat: proForm增加submitBefore,queryFilter默认col为4
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/core/src/components/ProForm/index.ts
  packages/core/src/components/ProForm/interface.ts
  packages/core/src/components/ProForm/props.ts
  packages/core/src/components/ProForm/useForm.tsx
Due: npm run lint:js

chore: 安装缺少依赖
  package.json
  pnpm-lock.yaml
Due: none

feat: 完善proTable
  packages/core/index.ts
  packages/core/src/components/ProTable/ProTable.tsx
  packages/core/src/components/ProTable/ProTableColumn.tsx
  packages/core/src/components/ProTable/constants.ts
  packages/core/src/components/ProTable/index.ts
  packages/core/src/components/ProTable/interface.ts
  packages/core/src/components/ProTable/useLoading.ts
  packages/core/src/components/ProTable/useTable.ts
  packages/core/src/components/ProTable/utils.ts
Due: npm run lint:js

test: 增加mock
  packages/playground/package.json
Due: none

build: rollup打包配置
  packages/core/index.js
  packages/core/index.ts
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/components/ProForm/ProForm.tsx
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/core/src/components/ProForm/useForm.tsx
  packages/core/src/components/ProForm/valueTypes.tsx
  packages/core/src/components/ProTable/ProTable.tsx
  packages/core/src/components/ProTable/ProTableColumn.tsx
  packages/core/src/components/ProTable/utils.ts
  packages/core/src/components/index.ts
  packages/core/tsconfig.json
Due: npm run lint:js

chore: 依赖安装,eslint,ts配置
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

build: rollup打包vue
  package.json
  packages/core/package.json
  packages/core/rollup.config.js
  packages/playground/package.json
  packages/playground/vite.config.ts
  pnpm-lock.yaml
Due: npm run lint:js

feat: 组件全部采用render函数渲染
  packages/core/rollup.config.js
  packages/core/src/components/ProForm/ProForm.tsx
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/core/src/components/ProForm/constant.ts
  packages/core/src/components/ProForm/useForm.tsx
  packages/core/src/components/ProTable/ProTable.tsx
  packages/core/src/components/ProTable/ProTableColumn.tsx
  packages/core/src/components/index.ts
  packages/core/src/index.ts
  packages/core/src/utils.ts
Due: npm run lint:js

feat: proFormItem默认插槽修改为hidden插槽
  packages/core/src/components/ProForm/ProFormItem.tsx
Due: npm run lint:js

feat: value-type支持列表
  packages/core/src/components/ProForm/ProFormList.tsx
  packages/core/src/components/ProForm/interface.ts
  packages/core/src/components/ProForm/valueTypes.tsx
Due: npm run lint:js

chore: script脚本修改
  package.json
  packages/core/package.json
  pnpm-lock.yaml
Due: none

fix: ref使用any类型
  packages/core/src/components/ProForm/ProForm.tsx
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/core/src/components/ProTable/ProTable.tsx
Due: npm run lint:js

chore: 修改依赖包,关键字,包含文件
  packages/core/package.json
Due: none

style: 根节点增加h-full,basicLayout增加h-full
  index.html
  src/layouts/BasicLayout/index.vue
  src/main.ts
  src/styles/index.scss
Due: npm run lint:style, npm run lint:js

build: 修改打包方式
  package.json
  packages/core/index.d.ts
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/components/index.ts
  pnpm-lock.yaml
Due: npm run lint:js

feat: proTable增加space配置
  package.json
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/components/ProForm/QueryFilter.tsx
  packages/core/src/components/ProTable/ProTable.tsx
Due: npm run lint:js

feat: 使用el-scrollbar实现滚动条
  index.html
  src/App.vue
  src/layouts/BasicLayout/index.vue
  src/main.ts
  src/styles/index.scss
Due: npm run lint:style, npm run lint:js

feat: proTable自动注入loading
  packages/core/src/components/ProTable/ProTable.tsx
  packages/core/src/components/ProTable/useLoading.ts
Due: npm run lint:js

feat: useTable请求数据修改
  packages/core/src/components/ProTable/ProTable.tsx
  packages/core/src/components/ProTable/interface.ts
  packages/core/src/components/ProTable/useTable.ts
Due: npm run lint:js

chore: v0.0.10发布
  packages/core/package.json
Due: none

feat: proForm submitter按钮props可选
  packages/core/src/components/ProForm/interface.ts
Due: npm run lint:js

feat: proFormItem支持自定义类似select的label和value属性名
  packages/core/src/components/ProForm/ProFormItem.tsx
  packages/core/src/components/ProForm/valueTypes.tsx
Due: npm run lint:js

Path conditions:
  npm run lint:style: any of: **/*.{css,scss,sass,less,vue}
  npm run lint:js: any of: **/*.{js,jsx,ts,tsx,vue}
